<header>
  <div class="navbar bg-warning shadow-sm">
     <div class="navbar-brand align-item-center d-flex">
      <i style="font-size:30px" class="fa-solid fa-anchor ms-3"></i>
       <strong style="font-size:30px" class="ms-3">Hepsiorada </strong>
       <div class="form-group">
         <input type="text" class="form-control" placeholder="search products">
       </div>
       <span class="fas fa-search search-icon"></span>
     </div>
     <button class="btn btn-primary">
        <i style="font-size: 30px;" class="fas fa-shopping-cart"></i>
        <div style="font-size: 10px;" class="badge bg-danger">3</div>
     </button>
  </div>

</header>
